OpenAIKey=sk-proj-cd43565% ....

OPENAI_API_KEY=<Your Key Here - No Spaces>
GeminiAPIKey=<Your Key Here - No Spaces>
GOOGLE_API_KEY=<Your Key Here - No Spaces>
TAVILY_API_KEY=<Your Key Here - No Spaces>